.header-holder {
    height: 10rem;
    width: 100%;
    position: relative;
}

.header {
    background-color: var(--background);
    width: 100%;
    height: 10rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid var(--fonts);
}

.logo {
    width: 8rem;
    border-radius: 4rem;
    border: 1.5px solid var(--fonts);
}

.icon {
    transition: all 0.5s ease-in-out;

}

.icon:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.4s ease-in-out;
}


/* SIDEBAR VISIBLE */
@media (max-width: 769px) {
    .header {
        position: fixed;
        z-index: 10;
    }
}

@media (min-width: 1025px) {
    .header {

        position: relative;
    }
}