*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: monospace;
}

h1,h2,h3, p, a{
  color: var(--fonts);
}

h2{
  font-size: 3rem;
}
h3{
  font-size: 2.2rem;
}

p, span{
  font-size: 1.5rem;
}

:root{
  --accent: #ff830f;
  --background: #f7f6f5;
  --fonts: #20190f;
  --disabled: #edc8a5;
  --secondary: #F7A2A1;
  --gradient: linear-gradient(135deg, hsla(1, 84%, 80%, 1) 34%, hsla(29, 100%, 53%, 1) 94%);
}

#root{
  background-color: var(--background);
}


@media (max-width: 760px){
  /* so that navbar doesnt cover titles */
#contact-section, #stack-section, #projects-section{
  padding-top: 10.5rem;
}
}

@media (min-width: 1025px){
  body{
    background-color: var(--background);
  }
  #root{
    margin: 0 auto;
    max-width: 1024px;
  }
  body #hello-section, #contact-section, #stack-section, #projects-section{
    padding: 0 0 4rem !important;
  }
}

/* BREAKPOINT:

- 768PX
-1024PX

* MEDIA QUERIES */

/* @media (min-width: 769px) {
    #projects-section{
        padding: 7rem;
    }
    .projects-cards-container{
        padding-left: 0;
    }
    .project-card {
        max-width: 50rem;
    }
}

@media (min-width: 900px){
    .project-card{
        max-width: 60rem;
    }
} */